---
interface LayoutProps {
  title?: string;
  description?: string;
  url?: string;
  image?: string; 
}

const {
  title = 'Alpha MM Inc',
  description = "Alpha MM Inc is a leading decking contracting company based in Los Angeles, California.",
  url = "https://www.alphamminc.com", 
  image = "/alpha-logo.png",
} = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="text-black bg-white scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/alpha-logo.svg" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    
    <link rel="canonical" href={url} />
  </head>

  <body
    class="
      antialiased
      font-geist
      min-h-screen
      flex
      flex-col
      max-w-[1920px]
      mx-auto
    "
  >

    <slot />
  </body>
</html>